body {
    background: white;
    margin: 0;
}

h1 {
    color: white;
    font-family: 'Overpass', serif;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 10px;
}

h2 {
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass', serif;
    font-weight: 600;
    text-align: center;
    font-size: 26px;
}

.first-h2 {
    margin-bottom: 40px;
}

p {
    font-family: 'Overpass', serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(207, 13%, 34%);
    text-align: center;
}



/* HEADER SECTION */
.header-sect {
    background-image: url('/images/bg-pattern-intro-mobile.svg'), linear-gradient(45deg, hsl(13, 100%, 72%), hsla(353, 100%, 62%, 0.9));
    background-position: center;
    background-size: 250% 200%;
    padding: 20px 25px 150px;
    border-bottom-left-radius: 60px;
    margin-bottom: 90px;
    postion: relative;
}
.header-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.logo {
    height: 30px;    
}
.open-icon {
    height: 20px;
}
.close-icon {
    height: 25px;
}
.header-p {
    color: white;
    text-align: center;
}
.head-buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 25px;
}
.start-button {
    background: white;
    color: hsl(356, 100%, 66%);
    padding: 12px 15px;
    border: 1px solid white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;    
    border-radius: 40px;
}
.learn-button {
    background: transparent;
    color: white;
    padding: 10px 17px;
    border: 1px solid white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    border-radius: 40px;
}

.hidden {
    display: none;
}


/* Desktop Images */
.desktop-img {
    width: 0;
    height: 0;
}

/* MAIN CONTENT */
main {
    paddng: 0 20px;
    text-align: center;
}

.illustration-editor-mobile {
    height: 280px;
    margin-bottom: 35px;
}

main h2 {
    width: 70%;
    margin: 0 auto 25px;
}

main p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
}

main p:nth-of-type(1), main p:nth-of-type(3) {
    margin-bottom: 30px;
}

main p:nth-of-type(2) {
    margin-bottom: 50px;
}

.illust-laptop {
    height: 270px;
    margin-bottom: 20px;
}

/* STATE OF THE ART DIV */
.phone-container {
    position: relative;
    background: hsl(208, 49%, 24%);
    padding: 200px 0 80px;
    border-radius: 0 90px 0 90px;
    margin-top: 300px;
    margin-bottom: 50px;
    background-image: url('/images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: top -200px left 50%;
    background-size: 180% 100%;
}

.phone-container p, .phone-container h2 {
    color: white;
}
.phone-container h2 {
    font-size: 40px;
}

.phone-img {
    height: 350px;
    position: absolute;
    z-index: 2;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
}
/* END OF THAT */

/* FOOTER */
footer {
    background: hsl(237, 17%, 21%);
    border-radius: 0 80px 0 0;
    padding: 80px 0 80px;
    text-align: center;
    margin-top: 60px;
}

footer a {
    text-decoration: none;
    display: block;
    color: hsla(0, 100%, 100%, 0.6);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.footer-logo {
    height: 50px;
    margin-bottom: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer-container p {
    margin-bottom: 25px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.product-section a:not(:last-of-type) {
    margin-bottom: 10px;
}
.company-section a:not(:last-of-type) {
    margin-bottom: 10px;
}
.connect-section a:not(:last-of-type) {
    margin-bottom: 10px;
}


/* NAV */
nav {
    background: white;
    text-align: center;
    border-radius: 5px;
    box-shaow: 7px 20px;
    padding: 20px 20px 40px;
    osition: absolute;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    max-width: 90%;
    box-shadow: 2px 10px 50px hsla(207, 13%, 34%, 0.5);
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 30px;
}

.dropdown-word {
    text-decoration: none;
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    margin-right: 7px;
    display: inline;
}

.dropdown {
    background: hsla(207, 13%, 34%, 0.1);
    border-radius: 5px;
    padding: 25px 0;
    margin: 20px 0;
}
.dropdown a {
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: hsla(208, 49%, 24%, 0.8);
    font-family: 'Overpass', sans-serif;
}

.dropdown a:not(:last-of-type) {
    margin-bottom: 15px;
}

hr {
    border: 1px solid hsla(207, 13%, 34%, 0.2);
    outline: none;
    margin-right: 10px;
    margin-bottom: 40px;
}

.signup-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.signup-div a {
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    font-size: 18px;
}
.signup-button {
    background: linear-gradient(45deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;    
    border: none;
    border-radius: 45px;
    padding: 15px 20px;
}



@media only screen and (min-width: 1000px) {
    .header-sect {
    background-image: url('/images/bg-pattern-intro-desktop.svg'), linear-gradient(45deg, hsl(13, 100%, 72%), hsla(353, 100%, 62%, 0.9));
    background-position: center;
    background-size: 200% 200%;
    padding: 20px 100px 50px;
    border-bottom-left-radius: 60px;
    margin-bottom: 90px;
    postion: relative;
    }
    .header-logo {
        height: 35px;
    }
    .desktop-bigger-h2 {
        font-size: 31px;    
    }
    
    .mobile-img {
        display: none;
    }
    /* Nav */
    nav {
        position: absolute;
        top: 10px;
        background: transparent;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        box-shadow: none;
    }
    hr {
        display: none;
    }
    nav ul {
        display: flex;        
        margin: 0;
        margin-left: 95px;
        column-gap: 20px;    
    }
    .signup-div {
        display: flex;        
        flex-direction: row;
        margin: 0;
        align-items: center;
        margin-right: 100px;
        column-gap: 20px;
        
    }    
    .signup-div a {
        color: white;
        font-size: 15px;
    }
    .signup-button {
        background: white;
        color: hsl(355, 100%, 74%);
        font-size: 15px;    
        padding: 10px 20px;
    }
    .signup-button:hover {
        color: white;
        background: hsl(0, 100%, 100%, 0.3);
    }
    .dropdown-word {
        color: hsla(0, 100%, 100%, 0.8);
        font-size: 15px;
    }
    .dropdown-word:hover /*dropdown word hover*/{
        color: hsl(0, 100%, 100%);
        text-decoration: underline;
    }
    .dropdown {
        background: white;
        width: 150px;        
        text-align: left;
        padding-left: 30px;
    }
    .dropdown a {
        font-family: 'Ubuntu', sans-serif;   
        font-weight: 400;
        color: hsl(237, 17%, 21%);
    }
   
    /* First desktop styler */
    .desktop-styler-first {
        display: flex;
        column-gap: 10px;    
        margin-left: 100px;
        justify-content: space-between;    
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    .desktop-styler-first p, .desktop-styler-first h2 {
        text-align: left;
        width: 100%;
    }
    
    .desktop-styler-first h2 {
        width: 100%;
    }
    .desktop-styler-first div {
        max-width: 500px;
        margin-top: 50%;
        transform: translateY(-50%);
    }
    
            
    .illustration-editor-desktop {
        height: 700px;
        width: 700px;
        order: 1;
        position: relative;
        right: -21%;
    }
    /* end */
    /* Phone container */
    .phone-container {
        display: flex;
        padding: 90px 70px 90px 0;
        background-image: url('/images/bg-pattern-circles.svg');
        background-repeat: no-repeat;
        background-position: left -100px top -200px;
        background-size: 70% 150%;
        margin-top: 0px;    
        margin-bottom: 80px;
    }
    .phone-container p, .phone-container h2 {
        text-align: left;
        width: 100%;
    }
    .phone-container div {
        width: 45%;
        position: relative;
        left: 58%;
    }
    .phone-img {
        position: absolute;
        left: 25%;
        height: 590px;
        top: -70px;
    }
    /* end */
    
    /* Second desktop styler */
    .desktop-styler-second {
        display: flex;
    }
    .desktop-styler-second div {
        text-align: left;
        width: 45%;
        position: relative;
        right: 10%;
        transform: translateY(10%);
    }
    .desktop-styler-second h2, .desktop-styler-second p {
        text-align: left;
        width: 100%;
    }
    .laptop-img-desktop {
        width: 800px;
        height: 680px;
        position: relative;
        left: -23%;
    }
    /* end */
    
    /* Footer */
    footer {
        display: flex;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        column-gap: 170px;
        row-gap: 0;
        text-align: left;
        margin-left: 150px;       
    }
    .footer-logo {
        margin-left: 60px;
    }
      .footer-container div {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .footer-container div p {
        align-self: flex-start;
    }
}

@media only screen and (min-width: 1100px) {
     .desktop-styler-first div {
        max-width: 500px;
        margin-top: 50%;
        transform: translateY(-70%);
    }
    .desktop-styler-second div {
        transform: translateY(12%);
    }
        
}


@media only screen and (min-width: 1420px){  
   .header-sect {
       padding: 20px 200px 50px;
   }
   .signup-div {
       margin-right: 200px;
   }
   /* Phone container */
    .phone-img {
        position: absolute;
        left: 25%;
        height: 600px;
        top: -120px;
    }
    .phone-container {
        background-position: left -190px top -250px;
        background-size: 70% 180%;
    }
    
    .phone-container div {
        left: 50%;
    }
    .desktop-bigger-h2 {
        font-size: 35px;
        margin-bottom: 0;
    }
    .illustration-editor-desktop {
        height: 850px;
        width: 850px;
        right: -20%;   
        margin-bottom: 50px;
    }
    /* end */
    /* First desktop styler */
    .desktop-styler-first {
        margin-left: 150px;
        column-gap: 50px;
        margin-bottom: 0px;
    }
    .desktop-styler-first div {
        margin-top: 50%;
        transform: translateY(-90%);
    }
    .desktop-styler-first div h2:nth-of-type(2) {
        margin-top: 70px;
    }
    /* end */
    
    /* Second desktop styler */
    .laptop-img-desktop {
        left: -19%;
        width: 950px;
        height: 780px;
    }
    
    .desktop-styler-second div {
        margin-top: 30%;
        transform: translateY(-55%);
    }
    .desktop-styler-second div h2:nth-of-type(2) {
        margin-top: 70px;   
    }
    /* end */
    
    /* Footer */
    .footer-logo {
        margin-left: 200px;
    }
}